/*--------------------grid 1----------------------*/    
    .clientes {
        display: grid;
        grid-template-columns: 950px ;
        grid-template-rows: 185px;
        justify-content: center;
        text-align: center;
        padding: 90px 1px 10px 1px;
    }
        .clientes hr{   
            width: 50px;
            border: 0.5px solid blue;
        }
         .clientes h1{   
             font-size: 18px ;
             text-align: center;
         }
         .clientes p{
             font-size: 11px  ;
             line-height: 1.5;
             text-align: justify;
             align-items: center;
             color: grey;
         }
@media all and (max-width: 980px ) { 
  .clientes {
      grid-template-columns: 70% ;
      grid-template-rows: 200px;
  }
}
@media all and (max-width: 410px ) { 
    .clientes {
        grid-template-rows: 250px;
    }
  }
 /*--------------------mask 2----------------------*/ 
 .fondoSomos{
    background: url(../image/inicio/img02.png) no-repeat center center fixed;
    background-size: 50% !important;
    height: 450px;
    overflow: hidden;
  }
  @media all and (max-width: 470px ) { 
    .fondoSomos{
        background-size: 70% !important;
        height: 450px;
      }
  }
/*--------------------box 1----------------------*/    
.nosotros {
    display: grid;
    grid-template-columns: 950px ;
    grid-template-rows: 70px 300px;
    justify-content: center;
    align-items: center;
    color: black;
}
    .nosotros hr{   
        width: 50px;
        border: 0.5px solid blue;
        margin: 5px auto;
    }
     .nosotros h2{   
         font-size: 18px  ;
         text-align: center;
     }
     .nosotros p{
        font-size: 11px  ;
        line-height: 1.5;
         text-align: justify;
     }
     .nosotros ul li{
        font-size: 11px ;
        line-height: 2;
        text-align: justify;
    }
@media all and (max-width: 970px ) { 
    .nosotros {
        grid-template-columns: 70% ;
        grid-template-rows: 70px 400px;
    }
}
@media all and (max-width: 410px ) { 
    .nosotros {
        grid-template-rows: 80px 350px;
    }
    .nosotros p{
        font-size: 11px ;
     }
     .nosotros ul li{
        font-size: 11px ;
    }
}
/*--------------------grid 2----------------------*/    
.Certificaciones {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 50px;
    justify-content: center;
}
    .Certificaciones hr{   
        width: 50px;
        border: 0.5px solid blue;
    }
     .Certificaciones h1{   
         font-size: 18px ;
         text-align: center;
     }
     .Certificaciones p{
        font-size: 11px ;
        line-height: 1.5;
        text-align: center;
        align-items: center;
        color: grey;
     }
/*--------------------flex-box ----------------------*/    
.Certificaciones2 {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    height: 180px;
}
  .Certificaciones2 div{
      width: 50px;
      margin: 50px;
      padding-right: 55px;
  }
  .Certificaciones2 img{
    max-width: 200%;
    display: block;
    margin: 0 auto;
    text-align:center;
}
@media all and (max-width: 1110px ) { 
    .Certificaciones2 {
        height: 400px;
    }
  }
@media all and (max-width: 450px ) { 
    .Certificaciones2 {
        height: 900px;
    }
  }