.grid-container-contact  {
    display: grid;
    grid-template-columns: 30% 30% ;
    grid-gap: 10px;
    grid-auto-rows: minmax(10px, 565px);
    justify-content: center;
    padding: 90px 1px 1px 1px;
}
        .grid-container-contact  h4{   
            font-size: 85% ;
            line-height: 0.3;
            text-align: center;
        }
        .grid-container-contact  hr{   
            width: 150px;
            border: 0.5px solid blue;
        }
        
        .grid-container-contact  p{
            font-size: 70% ;
            line-height: 1.5;
            text-align: center;
            margin: 20px 50px;
        }
        .grid-container-contact .button{
            color: rgb(255, 255, 255);
            background: rgb(56, 124, 250);
            width: 200px;
            font-size: 70% ;
            text-decoration: none;
            border-radius: 7px;
            margin: 0 auto;
            display: block;
            align-items: center;
            text-align: center;
        }
        .grid-container-contact iframe{
            position:absolute;
            height: 500px;
            width: 600px;
            border: 0;
            }
input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea {
    width: 100%;
    height: 150px;
    margin: 8px 0;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
  }
@media all and (max-width: 1220px ) {
    .grid-container-contact  {
        grid-template-columns: 60% ;
    }
  }
@media all and (max-width: 825px ) {
  .grid-container-contact iframe{
    position:absolute;
    height: 400px;
    width: 400px;
    border: 0;
    }
}
@media all and (max-width: 530px ) {
    .grid-container-contact iframe{
      position:absolute;
      height: 200px;
      width: 300px;
      border: 0;
      }
      .grid-container-contact  h4{   
        font-size: 45% ;
    }
    .grid-container-contact  p{
        font-size: 30% ;
    }
  }