body{
    font-family: Optima, sans-serif;
    color: rgb(17, 17, 17);
    line-height: 1.7em;
    margin: 0 auto;
    position: relative;
    padding-bottom: 0.5em;
}
.container{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}
/*--------------------header----------------------*/
.header{
    padding: 1rem 0; 
    background: white;
    position: fixed;
    width: 100%;
    height: 3.5%;
    z-index: 10000;
    margin: 0 auto;
    -webkit-box-shadow: -6px 7px 59px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: -6px 7px 59px -15px rgba(0,0,0,0.75);
    box-shadow: -6px 7px 59px -15px rgba(0,0,0,0.75);
}
     .header a{
       color:rgb(20, 20, 20) ;
       text-decoration: none ;
       font-size: 13px ;
    }
		header.major p {
			margin: 0.1em 0 0 0;
		}
.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    letter-spacing: 1px;
    font-size: 1em;
}
.menu-icon{
    display: none;
}
.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
     .navigation ul li{
        display: inline-block;
     }
        .navigation ul li a{
          padding: 5px;
          transition: all 0.5s linear;
          display: block;
          font-family: 'Open sans';
        }
           .navigation li a:hover{
            color: rgb(56, 124, 250);
           }
           .navigation ul li a.active{
               border-bottom: 1px solid rgb(56, 124, 250);
               border-radius: 1px;
               transition: 0.9s ease;
           }
                .navigation ul li .submenu{
                    background: white;
                    padding: 10px;
                    position: absolute;
                    display: none;
                    width: 62%;
                    right: 18%;
                    border-radius: 7px;
                    -webkit-box-shadow: -6px 7px 59px -15px rgba(0,0,0,0.75);
                    -moz-box-shadow: -6px 7px 59px -15px rgba(0,0,0,0.75);
                    box-shadow: -6px 7px 59px -15px rgba(0,0,0,0.75);
                    line-height: 15px;
                    font-size: 10px;
                  }
                    .navigation ul li:hover .submenu{
                        display: flex;
                    }
                        .navigation ul li .submenu .submenu2{
                            margin: 0 7px;
                        }
                        .navigation ul li .submenu .submenu2 p{
                            display: block;
                            padding-bottom: 1px;
                            border-bottom: 1px solid rgb(56, 124, 250);
                            margin-bottom: 5px;
                        }
                        .navigation ul li .submenu .submenu2 a{
                            font-size: 11px;
                        }
@media (max-width: 900px ) {
      .menu-icon{
          display: block;
          cursor: pointer;
          padding: 0.3rem 1rem ;
      }
      .logo{
        letter-spacing: 3px;
        font-size: 1em;
        padding: 0rem 2rem ;
    }
       .navigation{
           width: 100%;
           margin-top: 0rem;
           background-color: white;
           text-align: center;
       }
      .navigation ul {
         display: none;
      }
         .navigation ul.show {
            display: block;
         }
              .navigation ul li{
                 display: block;
              }
                 .navigation ul li a{
                   display: block;
                   padding: 0.3rem ;
                   transition: all 0.5s linear;
                   border-radius: 5px;
                 }
                 .navigation ul li .submenu{
                    display: block;
                    font-size: 8px;
                  }
                        .navigation ul li .submenu .submenu2{
                            font-size: 8px;
                        }
    }
    @media (max-width: 500px ) {
        .menu-icon{
            display: block;
            cursor: pointer;
            padding: 0.1rem 3rem ;
        }
                .navigation ul li .submenu .submenu2{
                    font-size: 5px;
                }
    }
    /*--------------------banner----------------------*/
.banner{
	height: 550px;
	animation: banner 8s infinite linear alternate;
	background-size: 100% 100%;
	display: flex;
	justify-content: center;
	align-items: center;
    margin: 0 auto;
}
     @keyframes banner{
     	0%, 50%{
     		background-image: url("../image/inicio/img05.jpg");
         }
     	55%, 100%{
     		background-image: url("../image/inicio/img04.jpg");
     	}
     }
     .info{
     	z-index: 5;
     	width: 50%;
     	max-width: 600px;
     	text-align: center;
     }
     .info h2{
     	color: white;
     	font-size: 15px;
     }
     .info h1{
     	color: white;
     	font-size: 20px;
     	letter-spacing: 1px;
     }
     .info p{
     	color: rgb(255, 255, 255);
     	line-height: 2;
     	margin-bottom: 1px;
     	font-size: 20px;
     }
     .info a{
         color: rgb(255, 255, 255);
         background: rgba(71, 71, 71, 0.561);
         width: 200px;
         font-size: 14px ;
         text-decoration: none;
         border-radius: 7px;
         display: block;
         margin: 0 auto;
     }
     .info hr{
         width: 55%;
     }
     @media all and (max-width: 350px ) {
        .info h2{
            font-size: 10px;
        }
        .info h1{
            font-size: 15px;
        }
        .info p{
            font-size: 15px;
        }  
    }
    /*--------------------grid 1----------------------*/
.grid-container {
    display: grid;
    grid-template-columns: 500px 500px ;
    grid-template-rows: 200px 200px ;
    justify-content: center;
    align-items: center;
}
    .item1{
        grid-column: 1 / span 2;
    }
    .grid-container h2{   
        font-size: 20px;
        line-height: 0.3;
        padding: 10px;
        text-align: center;
        align-items: center;
    }
    .grid-container h4{   
        font-size: 18px;
        line-height: 0.3;
        text-align: center;
        align-items: center;
    }
    .grid-container hr{   
        width: 100px;
        border: 0.5px solid blue;
    }
    .grid-container p{
        font-size: 12px;
        line-height: 1.5;
        margin: 20px 40px;
        color: grey;
    }
    .grid-container .btn{
        color: rgb(255, 255, 255);
        background: rgb(56, 124, 250);
        width: 90px;
        font-size: 10px;
        text-decoration: none;
        border-radius: 7px;
        margin: 0 auto;
        display: block;
        align-items: center;
        text-align: center;
    }
@media all and (max-width: 720px ) {
    iframe{
        position:absolute;
        height: 300px;
        width: 450px;
        }
    }
@media all and (max-width: 430px ) {
    iframe{
        position:absolute;
        height: 150px;
        width: 250px;
        }
    }
    
    /*--------------------video 1----------------------*/    
.video-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: rgba(49, 42, 31, 0.541);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}
       .video-container .close{
            position: absolute;
            top: 200px; 
            right: 570px;
           font-size: 40px;
           cursor: pointer;
           color: rgb(180, 180, 180);
           }
           .video-container.show{
               pointer-events: all;
               opacity: 1;
            }
/*--------------------video media----------------------*/
@media all and (max-width: 720px ) {
    .video-container .close{
       top: 250px;
       right: 100px;
       } 
}
 @media all and (max-width: 500px ) {
    .video-container .close{
        top: 320px;
        right: 70px;
       }  
}
    /*--------------------grid 1 media----------------------*/
    @media all and (max-width: 930px ) {
        .itemmin,.itemmin1,.itemmin2,.itemmin3{
            grid-column: 1/ span 2;
        }
        .grid-container {
            display: grid;
            grid-template-columns: 500px ;
            grid-template-rows: 200px  ;
        }
        .grid-container h2{   
            font-size: 18px;
        }
    }
    @media all and (max-width: 500px ) {
        .itemmin,.itemmin1,.itemmin2,.itemmin3{
            grid-column: 1/ span 2;
        }
        .grid-container {
            display: grid;
            grid-template-columns: 400px ;
            grid-template-rows: 200px  ;
        }
        .grid-container h2{   
            font-size: 13px;
        }
    }
    /*--------------------section----------------------*/
    .Especialistas {
    min-height: 410px;
    display: block;
    align-items: center;
    text-align: center;
    position: relative;
    margin: 25px auto;
    } 
    @media all and (max-width: 1120px ) {
        .Especialistas {
            min-height: 370px;
            } 
    }
    @media all and (max-width: 500px ) {
        .Especialistas {
            min-height: 300px;
            } 
    }
    /*--------------------mask 1----------------------*/          
.imagenes-mask{
  background: url(../image/inicio/img03.jpg);
  background-size: cover !important;
  clip-path: polygon(17% 0, 90% 0, 82% 100%, 8% 100%);
}
    .imagenes-mask h1 {
        font-size: 22px;
        text-align: center;
        justify-content: center;
        margin: 1px auto;
        padding: 5px;
    }      
      .imagenes-mask  hr{
        width: 100px;
        border: 0.5px solid blue;
    }
     .imagenes-mask p {
        font-size: 13px;
        line-height: 1.2;
      }
      .imagenes-mask  img {
        width: 45%;
      }
      @media all and (max-width: 1120px ) {
        .imagenes-mask{
            background: url(../image/inicio/img03.jpg);
            background-size: cover !important;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          }
          .imagenes-mask  img {
            width: 50%;
          }
      }
      @media all and (max-width: 500px ) {
        .imagenes-mask h1 {
            text-align: center;
            justify-content: center;
            margin: 1px auto;
            padding: 5px;
        }  
          .imagenes-mask p {
            color: rgb(255, 255, 255);
          }
      }
    /*--------------------grid 2----------------------*/         
.grid-container-Servis  {
    display: grid;
    grid-template-columns: 14% 14% 14% 14%;
    grid-gap: 10px;
    grid-auto-rows: minmax(10px, 270px);
    justify-content: center;
}
        .grid-container-Servis  h4{   
            font-size: 17px;
            line-height: 0.3;
            text-align: center;
        }
        .grid-container-Servis  p{
            font-size: 11px;
            line-height: 1.5;
            text-align: center;
            margin: 20px 50px;
        }
        .grid-container-Servis  i{
          font-size: 35px;
          width: 100%;
          text-align: center;
          color: rgb(41, 149, 250);
        }
        @media all and (max-width: 1340px ) {
            .grid-container-Servis  {
                display: grid;
                grid-template-columns: 500px ;
                grid-auto-rows: minmax(10px, 150px);
            }
        }
        @media all and (max-width: 400px ) {
            .grid-container-Servis  {
                display: grid;
                grid-template-columns: 400px ;
                grid-auto-rows: minmax(10px, 100px);
            }
            .grid-container-Servis  h4{   
                font-size: 10px ;
            }
            .grid-container-Servis  p{
                font-size: 7px;
            }
              .grid-container-Servis  i{
                  font-size: 20px;
                }
        }
    /*--------------------grid 3----------------------*/    
.grid-container-clientes {
    display: grid;
    grid-template-columns: 650px ;
    grid-auto-rows: minmax(10px, 150px);
    justify-content: center;
}
    .grid-container-clientes hr{   
        width: 50px;
        border: 0.5px solid blue;
    }
     .grid-container-clientes h1{   
        font-size: 20px;
         text-align: center;
     }
     .grid-container-clientes p{
        font-size: 13px;
         line-height: 1.3;
         text-align: center;
         align-items: center;
         color: grey;
     }
           @media all and (max-width: 1400px ) {
            .grid-container-clientes {
                display: grid;
                grid-template-columns: 500px ;
                grid-auto-rows: minmax(10px, 150px);
            }
           }
           @media all and (max-width: 500px ) {
            .grid-container-clientes {
                display: grid;
                grid-template-columns: 350px ;
                grid-auto-rows: minmax(10px, 150px);
            }
           }
    /*--------------------marca----------------------*/  
    .swiper {
        width: 60%;
        height: 60%;
      }
      .swiper-slide img {
        display: block;
        width: 50%;
        height: 50%;
        object-fit: cover;
      }  
 /*--------------------section----------------------*/
    .altiora {
        min-height: 640px;
        display: block;
        align-items: center;
        text-align: center;
        position: relative;
        margin: 10px auto;
    }      
 /*--------------------mask 2----------------------*/ 
.imagenes-mask2{
    background: url(../image/inicio/img01.gif) no-repeat center center fixed;
    background-size: 30% !important;
    height: 650px;
    overflow: hidden;
  }
  @media all and (max-width: 1500px ) {
    .imagenes-mask2{
        background: url(../image/inicio/img01.gif) no-repeat center center fixed;
        background-size: 30% !important;
        height: 650px;
        overflow: hidden;
      }
}
    /*--------------------grid 4----------------------*/    
.grid-container-altiora {
 display: grid;
 grid-template-columns: 238px 238px 238px;
 grid-template-rows: 110px ;
 justify-content: center;
 }
     .item5{
         grid-area: 1 / 1 /1 /4 ;
     }
     .grid-container-altiora h4{   
        font-size: 20px;
         line-height: 0.3;
         text-align: center;
         align-items: center;
     }
     .grid-container-altiora h2{   
        font-size: 20px ;
        line-height: 0.3;
        text-align: center;
        align-items: center;
        color: blue;
    }
     .grid-container-altiora hr{   
         width: 100px;
         border: 0.5px solid blue;
     }
     .grid-container-altiora p{
         font-size: 10px ;
         line-height: 1.6;
         text-align: center;
         align-items: center;
         margin: 20px 40px;
         color: grey;
     }
     @media all and (max-width: 1200px ) {
        .grid-container-altiora {
            display: grid;
            grid-template-columns: 150px 150px 150px;
            grid-template-rows: 110px ;
            justify-content: center;
        }
        .grid-container-altiora p{
            font-size: 60% ;
        }
    }
    @media all and (max-width: 500px ) {
        .grid-container-altiora {
            grid-template-columns: 120px 120px 120px;
        }
        .grid-container-altiora h2{   
            font-size: 130% ;
        }
        .grid-container-altiora p{
            font-size: 50% ;
        }
    }
    /*--------------------grid 5----------------------*/   
.grid-container-altiora2 {
   display: grid;
   grid-template-columns: 300px 300px ;
   grid-template-rows: 420px ;
   justify-content: center;
   align-items: center;
   }
    .grid-container-altiora2 h4{   
        font-size: 20px ;
        line-height: 1;
    }
    .grid-container-altiora2 hr{   
        width: 70px;
        border: 0.5px solid blue;
    }
    .grid-container-altiora2 img{   
        width: 135%;
    }
    .grid-container-altiora2 ul li{   
        font-size: 10px ;
        color: grey;
        width: 110px;
        height: 20px;
    }
    @media all and (max-width: 1200px ) {
        .grid-container-altiora2 {
            display: grid;
            grid-template-columns: 200px 200px ;
            grid-template-rows: minmax(10px, 405px);
            }
            .grid-container-altiora2 img{   
                width: 120%;
            }
    }
    @media all and (max-width: 500px ) {
        .grid-container-altiora2 {
            display: grid;
            grid-template-columns: 200px 200px ;
            grid-template-rows: minmax(10px, 390px);
            }       
            .grid-container-altiora2 img{   
                width: 80%;
            }
    }
 /*--------------------box----------------------*/ 
.box-contactanos{
    justify-content: center;
    text-align: center;
    margin: 1px auto;
    background-color: black;
    color: white;
}
        .box-contactanos h2{
            font-size: 20px ;
            text-align: center;
            justify-content: center;
            padding: 10px ;
            margin: 8px auto;
            }
        .box-contactanos hr{
            width: 100px;
            border: 0.5px solid blue;
            margin: -1px auto;
        } 
        .box-contactanos p{
            font-size: 12px;
            line-height: 1.1;
            margin: 10px auto;
            text-align: center;
        }
    /*--------------------grid 6----------------------*/
.grid-container-contactanos  {
    display: grid;
    grid-template-columns: 10% 10% 10% 10%;
    grid-template-rows: 150px ;
    justify-content: center;
    background-color: black;
    color: white;
}
     .grid-container-contactanos  p{
        font-size: 11px;
        margin: 1px auto;
        text-align: center;
      }
     .grid-container-contactanos  i{
       font-size: 35px;
       margin: 10px 50px;
       color: rgb(41, 149, 250);
     }
     @media all and (max-width: 1370px ) {
        .grid-container-contactanos {
            display: grid;
            grid-template-columns: 60% ;
            grid-template-rows: 99px 99px 99px 99px ;
            justify-content: center;
        }
        .grid-container-contactanos  i{
            font-size: 30px;
          }
    }
    @media all and (max-width: 500px ) {
        .grid-container-contactanos  i{
            font-size: 20px;
          }
    }
 /*--------------------whatsapp----------------------*/
 .btn-wsp{
     position:fixed;
     width:60px;
     height:60px;
     line-height: 63px;
     bottom:25px;
     left:25px;
     background:#25d366;
     color:#FFF;
     border-radius:50px;
     text-align:center;
     font-size:40px;
     box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
     z-index:100;
     transition: all 300ms ease;
 }
 .btn-wsp:hover{
     background: #20ba5a;
 }
 @media only screen and (min-width:320px) and (max-width:768px){
     .btn-wsp{
                width:53px;
                height:53px;
                line-height: 55px;
            }
        }        
    /*--------------------footer----------------------*/
footer{
    background-color: black;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}
    footer p{
       color: gray; 
       text-align: center;
       font-size: 9px;
       margin: 0 auto;
    }