.grid-container-product-titulo {
    display: grid;
    grid-template-columns: 30% 30% ;
    grid-gap: 10px;
    grid-auto-rows: minmax(10px, 250px);
    justify-content: center;
    padding: 85px 1px 1px;
}
h2{
    font-size: 20px;
}
ul li{
    font-size: 12px;
    line-height: 1.5;
}
.grid-container-product  {
    display: grid;
    grid-template-columns: 40% 40% ;
    grid-auto-rows: minmax(10px, 310px);
    justify-content: center;
    padding: 9px 1px 9px 1px;
}
p{
    text-align: justify;
    font-size: 12px;
    line-height: 1.8;
}
iframe{
    display: block;
    border-style:none;
    margin: 0 auto;
}
img{  
    margin: auto;
    display: block;
}
hr{   
    width: 150px;
    border: 0.5px solid blue;
}
@media all and (max-width: 1290px ) {
    .grid-container-product-titulo {
        grid-template-columns: 45% ;
        grid-auto-rows: minmax(10px, 200px);
    }
    .grid-container-product  {
        grid-template-columns: 45% ;
        grid-auto-rows: minmax(10px, 260px);
    }
    .grid-container-product img{  
        width:350px;
        height:150px;
    }
    iframe{
        width:450px;
        height:270px;
    }
}
